td {
    height: 100px;
    width: 100px;
    border: solid black 2px;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}
.circle{
    background: url('../img/o.png');
    background-repeat: no-repeat;
    background-position: 7px 7px;
}
.x{
    background: url('../img/x.png');
    background-repeat: no-repeat;
    background-position: 7px 7px;
}